body{
    margin: 4px;
    display:flex;
    flex-direction:column;
    height:100vh;
}
.confirmation-container{
    display:flex;
    background-color:lightgray;
    justify-content:center;
    max-width:400px;
    margin:auto;
    align-items:center;
    padding:2%;
    margin-top:60%;
    border:1px solid rgb(165, 165, 165);
}
.left-section{
    font-family:roboto;
    font-size:20px;
}

.re-logo{
    width:50px;

}
